<section id="big-register">
  <a href=<!-- $register --> target="_blank"><button>Register Now</button></a>
  <ul class="benefits">
    <li class="benefit-logo">
      <a href="http://www.farmtoconsumer.org" target="_blank"><img src="/assets/images/farm-logo.png"></a>
    </li>
    <li class="benefit-details">
      $5 of every registration is donated to Farm-to-Consumer Legal Defense Fund
    </li>
  </ul>
</section>