<section id="contact">
  <section class="content">
    <ul class="footer">
      <li class="circus-logo">
        <a href="#" target="_blank"><img src="/images/circus-logo.png"></a>
      </li>
      <li class="circus-links">
        <p>Event by Circus Bear Productions</p>
        <h3>OTHER CBP EVENTS&hellip;</h3>
        <a href="http://www.ramseysrevenge.com" target="_blank"><h3>RAMSEY'S REVENGE MTB RACE</h3></a>
        <a href="#" target="_blank"><h3>WESTERN SLOPE TRAIL FESTIVAL</h3></a>
        <a href="#" target="_blank"><button>VISIT CBP WEBSITE</button></a>
      </li>
      <li class="contact-form">
        <form action="https://formspree.io/info@offtheeatenpath.bike" method="post">
          <input type="hidden" name="_next" value="https://www.offtheeatenpath.bike/?showModal=yes"/>
          <div id="contact-contain">
            <h3>Contact Us</h3>
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="text" name="phone" id="phone" placeholder="Phone">
            <textarea name="message" placeholder="Message..."></textarea>
            <button type="submit" id="submit-button"><i class="fa fa-envelope"></i></button>
          </div>
        </form>
      </li>
    </ul>
  </section>
</section>

<script src="/index.js" charset="utf-8"></script>
<%- js('/') %>

