<head>
	<title>Off The Eaten Path</title>
	<link rel="stylesheet" href="/css/site.css" title="styles" type="text/css" media="screen" charset="utf-8">
	<script src="https://use.fontawesome.com/9dd96a3977.js"></script>
</head>
