<nav class="side">
	<a href="/"><img class="logo site" src="/images/eaten-logo.png"></a>
	<ul class="menu">
  	<a href="/#upcoming-events"><li>Events</li></a>
  	<a href="/about"><li>About</li></a>
  	<a href="/#contact"><li>Contact</li></a>
	</ul>
	<ul class="icons">
  	<a href="https://www.instagram.com/circusbearproductions/" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
  	<a href="https://www.facebook.com/offtheeatenpathSV/" target="_blank"><li><i class="fa fa-facebook-official"></i></li></a>
  	<a href="javascript:void(0)"><li><label for="modal-2"><i class="fa fa-youtube"></i></label></li></a>
  	<a href="javascript:void(0)"><li class="mobile-menu"><i class="fa fa-navicon"></i></li></a>
	</ul>
	<div id="sponsors">
	<h1>Sponsored By:</h1>
  	<a href="http://2fish.com" target="_blank"><img class="logo sponsors" src="/images/2fish-logo.png"></a>
<!--
  	<a href="#" target="_blank"><img class="logo sponsors" src="/images/relay-logo.png"></a>
-->
	</div>
	<a href="https://www.bikereg.com/off-the-eaten-path" target="_blank"><button>Register Now</button></a>
	<p class="copyright">Copyright &copy; Circus Bear Productions 2016</p>
	<p class="copyright">By 2Fish</p>
</nav>
