<section id="sponsor-footer">
  <section class="content">
    <h1>SERIES SPONSORS:</h1>
  	<a href="http://2fish.com" target="_blank"><img class="logo sponsors" src="/assets/images/2fish-logo.png"></a>
  </section>
</section>