    
<div class="modal">
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-2"></div>
      <i class="fa fa-youtube"></i>
      <h1>YouTube Channel Coming Soon</h1>
      <p class="modal-intro">Stay tuned for some fantastic videos from the Eaten Path cycling event series as we adventure through the Shenandoah Valley of Virginia throughout the autumn</p>
<!--       <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p> -->
    </div>
  </div>
</div>
