<html>
  <%- include ../../_head.ejs %>
	<body>
	  <%- include ../../_site-msg.ejs %>
	  <%- include ../../_nav.ejs %>
  	<section class="main">
  	  <% var bg= '\'/images/honeyville-hero.jpg\''; %>
    	<% include ../../_hero.ejs %>
    	
  	  <% var register= '\'https://www.bikereg.com/off-the-eaten-path\''; %>
    	
    	<section id="event-details">
      	<section class="content">
        	<ul class="details">
          	<li class="event-info">
          	  <h1>Showalter's Orchard & Greenhouse</h1>
          	  <h2>SATURDAY OCTOBER 1, 2016</h2>
          	  <h3>Rain date: Saturday October 22, 2016</h3>
          	  <h4>Ride Distance: 25/50 Miles</h4>
          	  <h4>Start/Finish Location:</h4>
          	  <a href="https://www.google.com/maps/place/17768+Honeyville+Rd,+Timberville,+VA+22853/@38.6679052,-78.799335,17z/data=!3m1!4b1!4m5!3m4!1s0x89b4fb0898ba74ab:0x9b5c3f11d76766de!8m2!3d38.667901!4d-78.797141" target="_blank">
            	  <div class="special-button">
              	  <span>Timberville, VA</span><br>
              	  17768 Honeyville Rd
            	  </div>
          	  </a>
          	  <div id="event-body">
            	  <h5>The Ride</h5>
            	  <p>There are two distance options for this event, 25 miles and 50 miles. Both are pleasantly challenging, self-guided group rides on the rolling country roads around the Broadway/Timberville area, at the base of the Allegheny Mountains. Route markers will be provided for guidance along the way, and the route consists of approximately 95-100% paved roads, with a short section of gravel possible. The 50 mile ride begins promptly at 1:30pm, and the 25 miler at 3:30pm, both from Showalter's Orchard.</p>
            	  <h5>AFTER THE RIDE</h5>
            	  <p>Upon returning to the orchard the event will shift gears into a relaxing meal and evening on the farm. The meal will be a farm table supper set on a hill amidst the apple trees, overlooking the rolling hills of the orchard below. The food will be prepared by <a href="https://www.facebook.com/tastefoodcompany/" target="_blank">Taste. A Food Company.</a>, will include fresh ingredients straight off the farm (sourced from Showalter's and other farms in the Broadway/Timberville area) and will be served family-style. Old Hill Hard Cider is made on the premises and will be available for purchase with the meal. Please let us know ahead of time if you have any food allergies so we can make any necessary substitutions.</p>
            	  <h5>IMPORTANT DATES, DEADLINES & INFO</h5>
            	  <p>Online registration closes Thursday September 29th at 11:59PM<br>Day-of registration is NOT available due to the nature of the event<br>In case of inclement weather the event will be re-scheduled for Saturday October 22, 2016</p>
            	  <h5>PRICING</h5>
            	  <p>$95 / Individual<br>$175 / Couple</p>
          	  </div>
          	</li>
        	  <li class="event-sponsors">
        	    <h1> Event Sponsors</h1>
        	    <a href="http://www.showaltersorchard.com/" target="_blank"><img src="/images/SHOWALTERS-Orchard-50-Years.png"></a>
        	  </li>
        	</ul>
      	</section>
    	</section>    	            
      
    	<% include ../../_event-register.ejs %>
    	
    	<section id="event-location">
      	<section class="content">
        	<h1>About Showalter's Orchard & Greenhouse</h1>
        	<ul class="offset-images">
          	<li class="offset-big">
          	</li>
          	<li class="offset-small">
          	</li>
        	</ul>
        	<p>For more than 50 years the Showalter family has been growing 30+ varieties of apples and a wide variety of plants on their picturesque farm in Timberville, Virginia, just north of Harrisonburg, where they also blend, press and bottle Virginia’s Finest Sweet Apple Cider. Showalter's Orchard & Greenhouse is also the home of Old Hill Hard Cider. Visit the tasting room to sample some of the finest hard cider in the Valley. Their experience growing and creating with apples shines through in the quality of each cider style!</p>
        	<a href="http://www.showaltersorchard.com/" target="_blank"><button>Visit Website</button></a>
      	</section>
    	</section>
    	
      <ul class="farm-grid">
        <li class="farm-item" style="background-image: url('/images/honeyville-rd-de-gallery/IMG_2411.jpg')"><a href="/images/honeyville-rd-de-gallery/IMG_2411.jpg" rel='color-box-grid'></a></li>
        <li class="farm-item" style="background-image: url('/images/honeyville-rd-de-gallery/showalters2.jpg')"><a href="/images/honeyville-rd-de-gallery/showalters2.jpg" rel='color-box-grid'></a></li>
        <li class="farm-item" style="background-image: url('/images/honeyville-rd-de-gallery/showalters5.jpg')"><a href="/images/honeyville-rd-de-gallery/showalters5.jpg" rel='color-box-grid'></a></li>
        <li class="farm-item" style="background-image: url('/images/honeyville-rd-de-gallery/showalter_orchard-7__large.jpg')"><a href="/images/honeyville-rd-de-gallery/showalter_orchard-7__large.jpg" rel='color-box-grid'></a></li>
        <li class="farm-item" style="background-image: url('/images/honeyville-rd-de-gallery/Showalter-Orchard-43.jpg')"><a href="/images/honeyville-rd-de-gallery/Showalter-Orchard-43.jpg" rel='color-box-grid'></a></li>
        <li class="farm-item" style="background-image: url('/images/honeyville-rd-de-gallery/showalters8.jpg')"><a href="/images/honeyville-rd-de-gallery/showalters8.jpg" rel='color-box-grid'></a></li>
      </ul>
    
  	<% include ../../_sponsor-footer.ejs %>
  	<% include ../../_footer.ejs %>

  	</section> <!-- main -->
	</body>
</html>