<html>
  <%- include ../_head.ejs %>
	<body>
	  <%- include ../_site-msg.ejs %>
	  <%- include ../_nav.ejs %>
  	<section class="main">
  	  <% var bg= '\'/images/honeyville-hero.jpg\''; %>
    	<% include ../_hero.ejs %>
    	    	
    	<section id="about">
      	<section class="content">
        	<ul class="details">
          	<li class="about-info">
          	  <h1>About The Event</h1>
          	  <div id="event-body">
            	  <p>Off the Eaten Path was formed out of the want for a fun, challenging cycling event that would not only be a fun day on the bike, but would incorporate one of our other passions... local food.</p>
            	  <p>Small farmers and producers are the backbone of communities all across America. They are vital to our freedom of choice, and they work tirelessly, not just to make a living, but to bring us food that will nourish our bodies and heal our land. Too often we forget just how important they are to the well-being of our society (not to mention they make some of the best damn food you’ve ever tasted), and we wanted to do something about it. So we got together with a number of these farmers in our area to discuss this idea of collaborating on and event that would showcase their business and their products, and turns out they’re just as excited about this as we are. So we decided to make a series out of it, and Off the Eaten Path was born.</p>
            	  <h1>About The Organizers</h1>
            	  <p>Circus Bear Productions is a cycling event company based out of Harri- sonburg, Virginia that takes a creative approach to having fun on two wheels. While cycling can be a challenging sport, we want all who par- ticipate in our events to be comfortable, confident and have a great time, no matter their level of skill or experience.</p>
          	  </div>
          	</li>
        	  <li class="about-logo">
        	    <a href="#"><img src="/images/circus-logo.png"></a>
        	  </li>
        	</ul>
      	</section>
    	</section>    	            
    
  	<% include ../_sponsor-footer.ejs %>
    <% include ../_footer.ejs %>

  	</section> <!-- main -->
	</body>
</html>